---
layout: default
---

<section class="single-wrap">
  <article
    class="single-content"
    itemscope
    itemtype="http://schema.org/BlogPosting"
  >
    <div class="feat">
      <h5 class="page-date">
        <time
          datetime="{{ page.date | date_to_xmlschema }}"
          itemprop="datePublished"
        >
          {{ page.date | date_to_long_string }}
        </time>
      </h5>
    </div>
    <h1 class="page-title" itemprop="name headline">{{ page.post-title }}</h1>
    <div itemprop="articleBody">{{ content }}</div>
  </article>
</section>
